<aside
  [@navbarState]="showNavbar"
>
  <div class="hamburger">&nbsp;</div>
  <ul class="nav-menu">
    <div *ngFor="let nav of navInfo.config; index as i;">
      <li (click)="handleNav(nav, i)">
        {{nav.label}}
        <nav-arrow *ngIf="nav.subnavState" [incomingState]="nav.subnavState"></nav-arrow>
      </li>
      <ul *ngIf="nav.subnav" [@subnavState]="nav.subnavState">
        <li *ngFor="let subnav of nav.subnav" (click)="handleNav(subnav)">{{subnav.label}}</li>
      </ul>
    </div>
  </ul>
</aside>
