<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYk7Vsb3TksS4-3pPY-KImrd3v0ysEl0s",
    authDomain: "pogo-comm.firebaseapp.com",
    databaseURL: "https://pogo-comm.firebaseio.com",
    projectId: "pogo-comm",
    storageBucket: "pogo-comm.appspot.com",
    messagingSenderId: "825570294140"
  };
  firebase.initializeApp(config);
</script>

<!--The content below is only a placeholder and can be replaced.-->
<script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYk7Vsb3TksS4-3pPY-KImrd3v0ysEl0s",
    authDomain: "pogo-comm.firebaseapp.com",
    databaseURL: "https://pogo-comm.firebaseio.com",
    projectId: "pogo-comm",
    storageBucket: "",
    messagingSenderId: "825570294140"
  };
  firebase.initializeApp(config);
</script>

<app-pages></app-pages>
