header {
    background-color: rgba(0,0,0, 0.8);
    color: #FFF;
    position: relative;
    z-index: 5;
    height: 3.5em;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 3.5em;
}